/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "~@progress/kendo-theme-bootstrap/scss/all";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.row {
  padding: 5px;
}

.jumbotron {
  padding: 2rem 2rem;
}
.list-group-item{
  padding: 0.5rem 0.5rem;

}
